
/venv/
/Andrii/Old_version/STORAGE_data/

/data-loader/__pycache__
/*.csv
/data-loader/*.csv
/data-loader/.*
/.vscode

/Andrii/Dir_05_12/zip_data/
/Andrii/Older_Version/STORAGE_data/
/Andrii/Dir_25_12/STORAGE_data/
/Andrii/Dir_25_12/zip_data/

/Andrii/Dir_25_12/actual_data/
/Andrii/Dir_Task_JAN_FEB/zip_data/
/Andrii/Strategy_Constructor/test_data/


