
/venv/
/Andrii/Old_version/STORAGE_data/

/data-loader/__pycache__
/*.csv
/data-loader/*.csv
/data-loader/.*
/.vscode

/Andrii/Dir_05_12/zip_data/
/Andrii/Actual_Version/STORAGE_data/
/Andrii/Dir_25_12/STORAGE_data/
/Andrii/Dir_25_12/zip_data/

/Andrii/Dir_25_12/actual_data/
