<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_links.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for wishlist in wishlists%}
        {% for company in wishlist.tickers.all %}
            <div>
                {{ company.logo_url }}
            </div>
            <div>
                {{ company.name }}
            </div>
            <div>
                {{ company.last_price }}
            </div>
           <a href="{% url "update_wishlist" company.ticker %}" class="btn btn-outline-danger" type="button" id="wishlistbtn"  aria-expanded="false">
                <i class="fa-trash-o"></i>
           </a>
        {% endfor %}
    {% endfor %}
</body>
</html>