<footer class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2" style="color: white">
                    <h5>Links</h5>
                    <ul class="list-unstyled" >
                        <li>Home</li>
                        <li>About</li>
                        <li>Menu</li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5" style="color: white">
                    <h5>Our Address</h5>
                    <address>
                  32, Pervomayskaya avenue<br>
                  Dolgoprudny, Moscow<br>
                  Russian Federation<br>
               </address>
                </div>
           </div>
            <div class="row mt-2">
                 <div class="col-4 offset-1 col-sm-2" style="color: white">
                     Contacts
                 </div>
                <div class="col-7 col-sm-5" style="color: white">
                    <i class="fa fa-phone fa-lg"></i>: 8-(916)-646-67-70<br>
                      <li> <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">maltsev.oiu@phystech.edu</a></li>
                       <li> <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">lipskii.as@phystech.edu</a></li>
                       <li> <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">novikov.ivan@phystech.edu</a></li>
                </div>
            </div>
           <div class="row justify-content-center mt-5" style="color: white">
                <div class="col-auto">
                    <p>© Copyright 2021 OVA co.</p>
                </div>
           </div>
        </div>
    </footer>