{% load static %}

<div class="sidebar mt-5">
    <ul style="list-style-type: none" >

        <li>
            <div class="row sidebar-item">
                <div class="col-1">
                    <i class="fa fa-fw fa-home" style="font-size: 26px"></i>
                </div>
                <div class="col-1">
                    <span href="#" ><h4>Home</h4></span>
                </div>
            </div>
        </li>

        <li>
            <div class="row sidebar-item">
                <div class="col-1">
                    <i class="fa fa-fw fa-list" style="font-size: 24px"></i>
                </div>
                <div class="col-1">
                    <span href="#" ><h4>Wishlist</h4></span>
                </div>
            </div>
        </li>
        <li>
            <div class="row sidebar-item">
                <div class="col-1">
                    <i class="fa fa-fw fa-info" style="font-size: 26px"></i>
                </div>
                <div class="col-1">
                    <span href="#" ><h4>Explore</h4></span>
                </div>
            </div>
        </li>
    </ul>
</div>