.sidebar {
    padding-top: 1%;
    height: 100%;
    position: fixed;
    left: 0;

}

.sidebar li {
    padding-top: 20%;
    color: #818181;
}

.navbar-brand{

}

.sidebar i {
    color: #f1f1f1;
}

.sidebar span {
    color: #818181;
}

.sidebar h4:hover {
    color: #f1f1f1;
}

.links {
    color: white;
}

