.sidebar {
    padding-top: 1%;
    height: 100%;
    position: fixed;
    left: 0;

}

.sidebar li {
    padding-top: 20%;
    color: #818181;
}

.navbar-brand{

}

.sidebar i {
    color: #f1f1f1;
}

.sidebar span {
    color: #818181;
}

.sidebar span:hover {
    color: #f1f1f1;
<<<<<<< HEAD:forta/static/forta/sidebar.css
}
=======
}

>>>>>>> 0572fbe49a9497035fbd92a79b07c68a62e378cf:forta/static/forta/sidebar_styles/sidebar.css
