{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'application/css/detail.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="container">
                <div class="d-flex row-cols-sm-2 justify-content-xl-end">
                    <img class="img-fluid" src="https://ahseeit.com//king-include/uploads/2021/08/thumb_5w3eiixyhpf71-356383395.jpg" style="border-radius: 10px" alt="Be grindest">
                </div>
                <div class="row align-items-center pretty_margins">
                    <div class="d-flex col justify-content-end">
                        <div class="d-flex alert-primary justify-content-end">
                          Carma
                            <span id='author_carma' class="badge" style="color: green">1</span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <button id='header_like' type="button" class="btn btn-outline-primary">+</button>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <button id='header_dislike' type="button" class="btn btn-outline-primary">-</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="container">
                <div class="row">
                    <h3>Django testing: Got an error creating the test database: database "database_name" already exists</h3>
                </div>

                <div class="row">
                    <h4 class="beautiful_text">I have a problem with testing. It's my first time writing tests and I have a problem. I just created a test folder inside my app users, and test_urls.py for testing the urls. When I type: python manage.py test users It says: Creating test database for alias 'default'... Got an error creating the test database: database "database_name" already exists Type 'yes' if you would like to try deleting the test database 'database_name', or 'no' to cancel: What does it mean? What happens if I type yes? Do I lose all my data in database?</h4>
                </div>

                <div class="d-flex row justify-content-end">
                    <h6>black-jack, blender</h6>
                </div>
            </div>
        </div>
    </div>
</div>

